<%= form_for @property, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, "#{@property.base_url}\n/properties/", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rdf, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :rdf, :class => 'field span10', rows: 20 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                properties_path, :class => 'btn' %>
  </div>
<% end %>
